@import "/fonts/fonts.css";
.wrapper {
    margin: 0 auto;
    max-width: 1400px;
    min-height: 800px;
    background-color: rgba(255, 252, 249, 1);
    
}
header {
    padding-top: 20px;
}
.menu {
    display: flex;
    flex-direction: row;
    max-width: 1150px;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}
.hrefs a:hover {
    padding-bottom: 3px;
    border-bottom: 2px solid #EF8D21;
}
.hrefs a, .sign a {
    margin-right: 28px;
    text-decoration: none;
    font-family: "Nunito" ;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
}
.sign a:hover {
    border-radius: 100px;
    background-color: #EF8D21;
    color: #FFFFFF;
}
.sign a {
   padding: 12px 17px; 
}

/* .test {
    margin: 50px;
    width: 363px;
    height: 364px;
    background-clip: content-box;
    background-color: #EF8D21;; 
    padding: 10px;
    border: 1px dashed #000000;
    outline: 1px dashed #000000;
    outline-offset: 19px;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    transform: rotate(48.11deg);
} */