@import "/fonts/fonts.css";
@import "adaptive.css";
html, body {
    height: 100%; /* Высота */
    margin: 0; /* Убираем отступы у веб-страницы */
   }
.wrapper {
    margin: 0 auto;
    max-width: 1400px;
    /* min-height: 800px; */
    height: 100%;
    background-color: rgba(255, 252, 249, 1);
    position: relative;
    
}
.wrapper .flower-left {
    position: absolute;
    bottom: 0;
    left: 0;
}
.wrapper .flower-right {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
}
header {
    padding-top: 20px;
}
.menu {
    display: flex;
    flex-direction: row;
    max-width: 1150px;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}
.hrefs a:hover {
    padding-bottom: 3px;
    border-bottom: 2px solid #EF8D21;
}
.hrefs a, .sign a {
    margin-right: 28px;
    text-decoration: none;
    font-family: "Nunito" ;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
}
.sign a:hover {
    border-radius: 100px;
    background-color: #EF8D21;
    color: #FFFFFF;
}
.sign a {
   padding: 12px 17px;
   margin-right: 0px; 
}
section {
    display: flex;
    max-width: 1150px;
    margin: 0 auto;
    height: 100%;
}
.container {
    height: 85%;
    position: relative;
    /* max-width: 1285px;
    margin: 0 auto;
    position: relative; */
}
.container .cirсle {
    box-sizing: border-box;
    position: absolute;
    left: 3%;
    top: 8%;
    width: 236px;
    height: 236px;
    opacity: 0.1;
    border-radius: 50%;
    border: 60px solid rgba(0, 0, 0, 0.3);
}
.wrapper-container {
    font-family: "Poppins";
    text-align: left;
    max-width: 640px;
    padding-top: 10%;
    padding-left: 35px;
}
.wrapper-container h2 {
    margin: 0 0;
    font-size: 49px;
    font-weight: 400;
    line-height: 74px;
    letter-spacing: 0em;
}
.wrapper-container h1 {
    margin: 0 0;
    font-size: 70px;
    font-weight: 700;
    line-height: 105px;
    letter-spacing: 0em;
}
.wrapper-container p {
    margin: 0 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.03em;
}
.second-menu {
    padding: 26px 0;
    background-color: #FFFFFF;
    border: 1px solid #EDEDED;
    border-radius: 50px;
}
.second-menu a {
    font-size: 15px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-decoration: none;
    color: #8F8F8F;
    padding: 12px 17px;
    margin: 3px;
    border: 2px solid #FFFFFF;
    padding: 12px 17px;
    margin: 0 16px;
}
.second-menu span {
    padding: 6px 0;
    border-right: 1px solid #9E9E9E;  
}
.second-menu a:hover {
    border-radius: 100px;
    border: 2px solid #000000;
    box-shadow: 0px 5px 2px #EF8D21;
    color: rgba(0, 0, 0, 1);
}
.wrapper-picture {
    position: relative;
    z-index: 1;
    flex-grow: 1;
    font-family: 'Poppins';
    font-style: normal;
    text-align: center;
}
.wrapper-picture .cirсle-two {
    box-sizing: border-box;
    position: absolute;
    left: 25%;
    top: 0;
    width: 104px;
    height: 104px;
    border: 8px solid rgba(239, 141, 33, 0.2);
    border-radius: 50%;
    z-index: -1;
}
.wrapper-picture .start {
    margin: 0;
    position: absolute;
    top: 5%;
    left: 73%;
    font-size: 20px;
    line-height: 30px;
    color: #364547;
    font-weight: 700;
}
.wrapper-picture .money {
    margin: 0;
    position: absolute;
    top: 11%;
    left: 76%;
    font-size: 55px;
    line-height: 82px;
    color: #EF8D21;
    font-weight: 700;
}
.background-scooter {
    /* margin: 50px; */
    width: 363px;
    height: 364px;
    position: absolute;
    background-clip: content-box;
    background-color: #EF8D21;; 
    padding: 10px;
    border: 1px dashed #000000;
    outline: 1px dashed #000000;
    outline-offset: 19px;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    transform: rotate(48.11deg);
    right: 5%;
    top: 38%;
    z-index: -1;
}
.wrapper-picture picture {
    /* position: absolute; */
    top: 0;
    left: 25%;
}